spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/db_ecommerce
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: password

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO

abacatepay:
  api:
    key: abc_dev_Ze2g1uDdhQpdhkp1DbaNX0yS
