spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false

server:
  port: ${PORT:8080}

cors:
  originPatterns: ${CORS_ORIGINS}

abacatepay:
  api:
    key: ${ABACATE_PAY_API_KEY}